*{box-sizing: border-box;}
body{
	background: #95a5a6;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1{
	text-align: center;
}

/*  Helpers  */
.pull-left{float: left;}
.pull-right{float: right;}


#main-stage{width:75%; background: #fff; border: 1px solid #ccc; color: #333;}
#info-console{
	width:25%;
	background: #2c3e50; 
	border: 1px solid #ccc; 
	color: #fff;
	padding: 0 25px;
	position: relative;
}
#info, #info2 {
	font-size: 20px;
    min-height: 266px;
}
#info img, #info2 img{
	width: 100px;
	margin: 15px auto;
}
.damage{
    background: #27ae60;
    border-radius: 4px;
    height: 40px;
    text-align: center;
    padding-top: 6px;
    display: block;
    width: auto;
    margin: 10px auto;
}
#warning {
	position: absolute;
	bottom: 25px;
	left: 25px;
	background: #c0392b;
	border-radius: 4px;
	text-align: center;
	transition: ease-in-out all 200ms;
	width: 90%;
	min-height: 0;
	margin: 0;
	padding: 0;
}
#warning span{
	display: block;
	padding: 15px;
}

.row{
	width: 100%;
	float: left;
}
.box{
	border: 1px solid #ccc;
	float: left;
	height: 100%;
	position: relative;
}
.box img:not(.qw){
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.box img.qw{
    height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.selected{
	border-color: red;
}


